.main-area{
    height: 40rem;
}
.left-area{
    background-color: #F8F8F8;
}
.form-area{
    padding-top: 5rem;
    padding-right: 5rem;
    padding-left: 5rem;

}
.btn-primary{
    background-color: #7367F0!important;
}
.main-heading{
    color: #5E5873;
}

